{
	"DestinationName": "CAP-SERVICE-SF-LMS",
	"OfflineEnabled": true,
	"OfflineOptions": {
		"CSDLOptions": [
			"processMixedVersions"
		]
	},
	"SourceType": "Mobile",
	"RestService": false
}